@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=Merriweather&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@200&display=swap');
@import "./fontawesome/scss/fontawesome.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=Kdam+Thmor+Pro&family=Koulen&family=Merriweather&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=Josefin+Sans:wght@500&family=Kdam+Thmor+Pro&family=Koulen&family=Merriweather:ital@0;1&family=Noto+Serif:wght@700&family=Poppins:wght@200&family=Rubik:ital,wght@1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.tile
{
	/*border: 1px solid black;*/
	width: 100%;
	height: 60px;
	margin-top: 10%;
	background-color: #F6DDCC;
	justify-content: center;
	align-items: center;
	display: block;
}
.tile p
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	color: #DC7633;
	justify-content: center;
	align-items: center;
}
.box 
{
	height: 1000px;
	width: 100%;
	margin-top: 5%;
	display: flex;
}
.box1  
{
	height: 700px;
	width: 20%;
	float: left;;
}
.box .box1 h1 
{
	font-size: 26px;
	font-weight: bolder;
	text-align: center;
	margin-top: 18px;
	color: #D35400;
	position: relative;
}
.box .box1 h1:after
{
	position: absolute;
    content: '';
    height: 1px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 8%;
    background: #F6DDCC;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.box .box1 .cat1 
{
	list-style:none;
	padding: 0;
	margin-top: 10%;
}
.box .box1 .cat1 .top 
{
  	/*margin: 0 0.5em 0 0;*/
  	margin-top: 10px;
  	text-align: center;
  	margin-top: 40px;
}
.box .box1 .cat1 .top a 
{
	padding: 0 1em;
  	text-decoration: none;
  	color:#000;
  	font-size: 18px;
  	font-weight: bold;
  	position: relative;
  	/*margin-top: 80px;*/
}
.box .box1 .cat1 .top a i 
{
	color: #F6DDCC;
	margin-right: 18px;
}

.box .box1 .cat1 .top a:hover 
{
	font-size: 22px;
	color: #DC7633;
	transition: .3s;
}
.box .box1 .cat1 .cat2
{
	display: block;
	list-style-type: none;
	text-decoration: none;
}

.box .box1 .cat1 .cat2 li 
{
	margin-top: 10px;
	text-align: center;
}
.box .box1 .cat1 .cat2 li a 
{
	padding: 0 1em;
  	text-decoration: none;
  	color:#E59866;
  	font-family: 'Poppins', sans-serif;
  	font-size: 15px;
  	font-weight: bold;
}
.box .main 
{
	height: 1000px;
	width: 80%;
}
.box .main .box2,
.box .main .box3,
.box .main .box4
{
	height: 300px;
	width: 100%;
	float: left;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.box .main .box3,
.box .main .box4
{
	clear: both;
	float: left;
	margin-top: 20px;
}
.box .main .box2 .item1,
.box .main .box2 .item2,
.box .main .box2 .item3,
.box .main .box3 .item1,
.box .main .box3 .item2,
.box .main .box3 .item3,
.box .main .box4 .item1,
.box .main .box4 .item2,
.box .main .box4 .item3
{
	height: 100%;
	width: 30%;
	margin-right: 40px;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.box .main .box2 .item1 img,
.box .main .box2 .item2 img,
.box .main .box2 .item3 img,
.box .main .box3 .item1 img,
.box .main .box3 .item2 img,
.box .main .box3 .item3 img,
.box .main .box4 .item1 img,
.box .main .box4 .item2 img,
.box .main .box4 .item3 img
{
	height: 80%;
	width: 80%;
	object-fit: cover;
	margin-right: auto;
	margin-left: auto;
}
.box .main .box2 .item1:hover:after,
.box .main .box2 .item2:hover:after,
.box .main .box2 .item3:hover:after,
.box .main .box3 .item1:hover:after,
.box .main .box3 .item2:hover:after,
.box .main .box3 .item3:hover:after,
.box .main .box4 .item1:hover:after,
.box .main .box4 .item2:hover:after,
.box .main .box4 .item3:hover:after
{
	position: absolute;
    content: '';
    height: 1px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    background: #DC7633;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.box .main .box2 .item1 p,
.box .main .box2 .item2 p,
.box .main .box2 .item3 p,
.box .main .box3 .item1 p,
.box .main .box3 .item2 p,
.box .main .box3 .item3 p,
.box .main .box4 .item1 p,
.box .main .box4 .item2 p,
.box .main .box4 .item3 p
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}