@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=Merriweather&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@200&display=swap');
@import "./fontawesome/scss/fontawesome.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=Kdam+Thmor+Pro&family=Koulen&family=Merriweather&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=Josefin+Sans:wght@500&family=Kdam+Thmor+Pro&family=Koulen&family=Merriweather:ital@0;1&family=Noto+Serif:wght@700&family=Poppins:wght@200&family=Rubik:ital,wght@1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.top 
{
	margin-top: 10%;
	/*border: 1px solid black;*/
	height: 300px;
	width: 100%;
	background-color: #fff;
	justify-content: center;
	align-items: center;
}
.top img 
{
	height: 100%;
	width: 50%;
	object-fit: cover;
	float: right;
	position: relative;
	margin-right: 5%;
}
.top h6 
{
	position: absolute;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
    color: #DC7633;
    margin-left: 10%;
    margin-top: 5%;
    word-spacing: all;
    font-weight: bolder;
}
.top p
{
	position: absolute;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
    color: #DC7633;
    margin-left: 10%;
    margin-top: 9%;
    word-spacing: all;
    font-weight: 700;
}
.top p a 
{
	position: absolute;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
    color: #16A085;
   	margin-left: 10px;
    /*margin-top: 8%;*/*/
    word-spacing: all;
    font-weight: 700;
}
.top p a:hover 
{
	font-size: 20px;
	transition: .3s;
}

.top2 
{
    display: block;
    /*border: 1px solid black;*/
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}
.top2 .los
{
    height: 80px;
    width: 100%;
    /*border: 1px solid black;*/
    margin-top: 20px;
}
.top2 .los h1 
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #D35400;
    letter-spacing: 2px;
    position: relative;
}
.top2 .los h1:after
{
    content: '';
    position: absolute;
    /*right: 55%;*/
    bottom: -8;
    transform: translate(-250%);
    height: 1px;
    width: 60px;
    border-radius: 2px;
    background-color: #F0B27A;
}

.top2 .top3 
{
    display: flex;
    /*border: 1px solid black;*/
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    justify-content: center;
    /*align-items: center;*/
}
.top2 .top3 .imag1,
.top2 .top3 .imag2,
.top2 .top3 .imag3,
.top2 .top3 .imag4
{
    height: 200px;
    width: 200px;
    /*border: 1px solid black;*/
    margin-left: 50px;
}
.top2 .top3 .imag1 img,
.top2 .top3 .imag2 img,
.top2 .top3 .imag3 img,
.top2 .top3 .imag4 img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}
.top2 .top3 .imag1 p,
.top2 .top3 .imag2 p,
.top2 .top3 .imag3 p,
.top2 .top3 .imag4 p 
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.arm,
.loveset
{
	display: block;
	height: 650px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 3%;
	justify-content: center;
	align-items: center;
}
.arm .til,
.loveset .til1 
{
	/*border: 1px solid black;*/
	height: 80px;
	width: 100%;
}
.arm .til h1,
.loveset .til1 h1
{
	font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #D35400;
    letter-spacing: 2px;
    position: relative;
}
.arm .til h1:after,
.loveset .til1 h1:after
{
    content: '';
    position: absolute;
    /*right: 55%;*/
    bottom: -8;
    transform: translate(-180%);
    height: 1px;
    width: 60px;
    border-radius: 2px;
    background-color: #F0B27A;
}
.arm .items,
.loveset .types 
{
    /*border: 1px solid black;*/
	height: 500px;
	width: 80%;
	display: flex;
	margin-top: 30px;
	justify-content: center;
	/*align-items: center;*/
	margin-left: auto;
	margin-right: auto;
}
.arm .items .arm1,
.arm .items .arm2,
.loveset .types .lovese1,
.loveset .types .lovese2
{
	display: block;
	height: 300px;
	width: 40%;
	/*background-color: green;*/
	margin-left: 80px;
}
.arm .items .arm1 img,
.arm .items .arm2 img,
.loveset .types .lovese1 img,
.loveset .types .lovese2 img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}
.arm .items .arm1 h5,
.arm .items .arm2 h5,
.loveset .types .lovese1 h5,
.loveset .types .lovese2 h5
{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	text-align: center;
    margin-top: 20px;
}
.arm .items .arm1 p,
.arm .items .arm2 p,
.loveset .types .lovese1 p,
.loveset .types .lovese2 p
{
    font-size: 15px;
    /*font-weight: bold;*/
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;
}
.arm .items .arm1 p
{
    margin-top: 20px;
}
.lsofa 
{
    display: block;
    height: 650px;
    width: 100%;
    /*border: 1px solid black;*/
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}
.lsofa .til2 
{
    /*border: 1px solid black;*/
    height: 80px;
    width: 100%;
}
.lsofa .til2 h1
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #D35400;
    letter-spacing: 2px;
    position: relative;
}
.lsofa .til2 h1:after
{
    content: '';
    position: absolute;
    /*right: 55%;*/
    bottom: -8;
    transform: translate(-300%);
    height: 1px;
    width: 60px;
    border-radius: 2px;
    background-color: #F0B27A;
}
.lsofa .diff 
{
    /*border: 1px solid black;*/
    height: 530px;
    width: 80%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    /*align-items: center;*/
    margin-left: auto;
    margin-right: auto;
}
.lsofa .diff .lsofa1,
.lsofa .diff .lsofa2
{
    display: block;
    height: 300px;
    width: 40%;
    /*background-color: green;*/
    margin-left: 80px;
}
.lsofa .diff .lsofa1 img,
.lsofa .diff .lsofa2 img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.lsofa .diff .lsofa1 h5,
.lsofa .diff .lsofa2 h5
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.lsofa .diff .lsofa1 p,
.lsofa .diff .lsofa2 p
{
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;   
}